<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nosa missão!</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet laoreet velit, sit amet porta erat. Phasellus maximus laoreet lectus, eu varius metus vehicula sed. Sed lacinia turpis lacus, nec cursus felis egestas ac. Nam ac volutpat tortor, eget varius odio. Ut arcu justo, euismod a diam a, placerat cursus tellus. Maecenas et justo tincidunt, tincidunt elit non, egestas justo. Donec eros magna, venenatis a ipsum quis, iaculis lobortis neque. Duis suscipit volutpat molestie. Cras ornare odio nec leo consequat, at facilisis mauris auctor. Integer purus lorem, molestie nec tempor vel, gravida at quam. Sed imperdiet libero felis, vitae consectetur justo semper in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam tempor sapien nisl, non pharetra est gravida fermentum. Ut vel augue in arcu cursus tristique. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
