<header>


    <div class="header-content">
        <video autoplay muted loop id="myVideo">
            <source src="https://www.youtube.com/watch?v=H_szemxPcTI" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>


        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
